<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
</head>
<body class="container align-content-center">
    <form th:action="@{/main}" method="get">
        <table class="table table-borderless align-content-center">
            <tr>
                <td scope="row">账号：</td>
                <td><input class="text-input" type="text" name="account" placeholder="请输入账号"></td>
            </tr>
            <tr>
                <td scope="row">密码：</td>
                <td><input class="password-field" type="password" name="password" placeholder="请输入密码"></td>
            </tr>
            <tr>
                <td colspan="2"><input class="button" type="submit" value="登录"></td>
            </tr>
        </table>
    </form>
</body>
</html>