<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
    <div><a class="btn btn-success" th:href="@{/user}" th:method="get">添加员工</a> </div>
    <table class="table table-hover">
        <tr>
            <td th:text="Id"/>
            <td th:text="序号"/>
            <td th:text="姓名"/>
            <td th:text="性别"/>
            <td th:text="年龄"/>
            <td th:text="生日"/>
            <td th:text="操作"/>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"/>
            <td  th:class="part"/>
            <td th:text="${user.name}" />
            <td th:text="${user.gender}==true?'男':'女'" />
            <td th:text="${user.age}" />
            <td th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}" />
            <td>
                <a class="btn btn-sm btn-primary float-left" th:href="@{/user/}+${user.id}" th:method="get">编辑</a>
                <form class="float-left" th:action="@{/user/}+${user.id}" th:method="post">
                    <input type="hidden" name="_method" th:value="delete">
                    <input type="submit" class="btn btn-sm btn-danger" th:value="删除"/>
                </form>
            </td>
        </tr>
    </table>
</body>
<script>
    i=0;
    function func() {
        tds=document.getElementsByClassName("part");
        for (j=0;j<tds.length;j++)
            tds[j].innerHTML= ++i;
        i=0;
    }
    window.onload=func;
</script>
</html>