<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <select id="findAll" resultType="com.example.demo.entities.User" >
        select * from user
    </select>

    <select id="findById" resultType="com.example.demo.entities.User" parameterType="java.lang.Integer">
        select * from user where id=#{id}
    </select>

    <insert id="insert" parameterType="com.example.demo.entities.User">
        insert into user (name,gender,age,birthday) values (#{name},#{gender},#{age},#{birthday})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from user where id=#{id}
    </delete>

    <update id="update" parameterType="com.example.demo.entities.User">
        update user set name=#{name},gender=#{gender},age=#{age},birthday=#{birthday} where id=#{id}
    </update>
</mapper>